html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
}

header {
    display: flex;
    height: 50px;
    padding: 10px;
    gap: 20px;
    align-items: center;

    background-color: slategrey;
    border-bottom: 2px solid dimgray;
    border-top: 2px solid dimgray;
    letter-spacing: 0.1cm;
    font-size: 20px;
    font-variant: small-caps;
    z-index: 5;
}

header img {
    height: 100%;
    border: 2px solid dimgray;
}

nav {
    position: relative;
}

#nav_toggle_button {
    background-color: lightslategray;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 5px 5px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    display: flex;
    background-color: lightslategray;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 10px;
    width: 100%;
}

nav ul li {
    float: left;
    width: 150px;
    margin-left: 20px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    background-color: slategray;
    border: 1px solid dimgray;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: lightslategray;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    gap: 10px;
    overflow: visible;
    height: auto;
}

main ul {
    color: black;
}

main h2 {
    background-color: slategrey;
    padding: 10px;
    font-size: 25px;
    font-variant: small-caps;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-left: 5px solid dimgray;
    border-right: 5px solid dimgray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.part1 div {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px;
    color: black;
}

.part1 div h2 {
    color: white;
}

.part1 img {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.part1 h3 {
    color: black;
}

.part1 ul {
    margin: 0;
}

.part1 iframe {
    width: 100%;
}

.part2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 20px;
    border-left: 5px solid dimgray;
    border-right: 5px solid dimgray;
    justify-items: center;
    align-items: center;
    perspective: 800px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#section_hea_pilt {
    cursor: move;
}

.rotating-img {
    position: relative;
    width: 300px;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg) rotateX(0deg); }
    to { transform: rotateY(360deg) rotateX(360deg); }
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 5px solid dimgray;
    border-right: 5px solid dimgray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    width: 50%;
}

.gallery div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.gallery div img {
    display: block;
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

footer {
    background-color: slategrey;
    border-top: 2px solid dimgray; /* dotted, dashed, double*/
    padding: 10px;
    text-align: center;
    bottom: 0;
    height: 45px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}