body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

div#info {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2%;
    background-color: gray;
    border-radius: 5px;
    gap: 10px;
}

#image {
    width: 700px;
    height: 300px;
}