html {
    margin: 0;
    padding: 0;
    background-color: rgb(19, 20, 22);
    font-family: "Comic Sans MS", sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#canva {
    border: 2px solid black;
    background-color: rgb(26, 28, 42);
    width: 500px;
    height: 500px;
    flex: 0;
}

input[type="button"] {
    background-color: rgb(48, 178, 48);
    border: 2px dotted rgb(255, 0, 0);
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 30px;
}

input[type="button"]:hover {
    background-color: rgb(32, 116, 32);
}

input[type="button"]:active {
    background-color: rgb(44, 196, 44);
}