html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-right: 25px;
    margin-left: 25px;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

table {
    width: 550px;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

table td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

img {
    width: 140px;
    height: 120px;
}