div {
    position: relative;
    left: 0;
    width: 200px;
    border: 1px solid black;
    background-color: orange;
    border-radius: 5px;
    padding: 1%;
}

h1 {
    position: relative;
    left: 0;
    width: 800px;
}

img#pilt {
    position: relative;
    left: 0;
    width: 200px;
}