html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-right: 25px;
    margin-left: 25px;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

form {
    max-width: 550px;
    padding: 20px;
}

fieldset {
    border: 2px solid lightgray;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}

legend {
    font-weight: bold;
    padding: 3px;
}

textarea {
    resize: none;
    width: 230px;
}

input[type="range"] {
    cursor: w-resize;
    margin-right: 10px;
    margin-left: 10px;
}

select, option {
    cursor: pointer;
}

.button {
    cursor: pointer;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

body#kokkuvote {
    border: 1pt solid black;
}