html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}